{% extends 'base.html.twig' %}

{% block title %}Hello ResultRechercheController!{% endblock %}

{% block body %}
<section id="hautcontact">
<div class="saut"></div>
<div class="precontact">
<p style="    font-size: 100px;"> Résultats Recherche  </p>
</div>
</section>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Heuree</th>
            </tr>
        </thead>
        <tbody>
        {% for traversee in traversees %}
            <tr>
                <td>{{ traversee.id }}</td>
                <td>{{ traversee.date ? traversee.date|date('Y-m-d') : '' }}</td>
                <td>{{ traversee.heuree }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">L'ID saisie ne trouve pas de traversée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
