{% extends 'base.html.twig' %}

{% block title %}New Traversee{% endblock %}

{% block body %}
    <h1>Create new Traversee</h1>

    {{ include('traversee_client/_form.html.twig') }}

    <a href="{{ path('app_traversee_client_index') }}">back to list</a>
{% endblock %}
