{% extends 'admin.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <section id="hautcontact">
<div class="saut"></div>
<div class="precontact">
<p style="    font-size: 100px;"> Réserver une Réservation </p>
</div>
</section>

    {{ include('reservation/_form.html.twig') }}

{% endblock %}
