{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block body %}

<body>

<p style="font-weight:bold;font-size: 30px;">
SicilyLines
</p> 

<p style="font-weight:bold;font-size: 20px;height:40px;"> Réservez vos places sur le site en ligne SicilyLines</p>

<section id="haut">
<div class="saut"></div>
<div class="pre2">

</div>
</section>

</section>
<div class="saut"></div>
<div class="container">
<p>Bonjour bienvenue dans l'accueil de votre site de réservation de traversée !</p>
<br>
<p>
Bienvenue sur SicilyLines, le site de réservation de traversées en ligne le plus fiable et efficace pour naviguer vers et depuis la Sicile. Nous sommes basés en Italie, offrant des liaisons maritimes entre la Sicile et les principales villes italiennes, ainsi que vers des destinations internationales en Europe et en Afrique du Nord. Notre site Web convivial vous permet de réserver facilement votre traversée en quelques clics, en choisissant parmi une gamme de navires modernes et confortables. Nous sommes fiers de fournir un service de qualité à des tarifs compétitifs, en garantissant une expérience de voyage agréable et sûre pour tous nos passagers. Explorez notre site Web pour découvrir nos horaires, tarifs et options de réservation, et rejoignez-nous pour une traversée inoubliable vers la Sicile.
</p>

</div>


<script src="./index.js"></script>

<!-- Les sources pour tout -->

<!-- Inclure le CSS de Bootstrap -->
<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">

<!-- Inclure les scripts JavaScript de Bootstrap (jQuery doit être inclus en premier) -->
<script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>

</body>



</html>

{% endblock %}

