{% extends 'client.html.twig' %}

{% block title %}Contact Client{% endblock %}

{% block body %}
<section id="hautcontact">
<div class="saut"></div>
<div class="precontact">
<p style="    font-size: 100px;"> Contactez nous </p>
</div>
</section>
<br><br><br>
<div class="container">
<div class="row">
<p style="font-size:20px; text-align:left"> Bienvenue sur le site de réservation de palce de port en ligne de SicilyLines </p>
<p style="font-size:20px; text-align:left"> Nous vous offrons le meilleur rapport qualité-prix et service avec 4 secteurs ! </p>
<p style="font-size:20px; text-align:left"> Si vous avez besoin d'aide pour gérer des réservations nouvelles ou existantes, ou bien explorer de nouvelles destinations, n'hésitez pas à nous contacter.  </p>

</div>
<div class="row">
<form>
<label for="depart-port">Prénom*</label>
<input type="text" id="prenom" name="prenom"><br>


<label for="arrivee-port">Nom de famille*</label>
<input type="text" id="nom" name="nom"><br>

<label for="arrivee-date">Email*</label>
<input type="text" id="email" name="email"><br>

<label for="traversee-date">Téléphone*</label>
<input type="text" id="telephone" name="telephone">

<label for="traversee-date">Message*</label>
<textarea id="message" name="message"></textarea><br>
<br>
<label for="aller-retour">Annulation d'une réservation <input type="checkbox" id="aller-retour" name="aller-retour" style="text-align:right !important;"><br>
</label>
<br>
<label for="aller-retour">Suppression d'un compte<input type="checkbox" id="aller-retour" name="aller-retour" style="text-align:right !important;"><br>
</label>

<button type="submit">Réserver une traversée</button>
</form>
</div>
<br><br>
<p style="font-size:20px; text-align:left"> Toute demande d'annulation de traversée ou suppression de compte peut être demandé par nous.</p>
<br>
<p style="font-size:20px; text-align:left"> Les pénalités d'une annulation d'une traversée:
-10% du montant total quand la demande a lieu 30jours avant le départ
-20% du montant total quand la demande a lieu de 7 à 29 jours avant le départ
-50% du montant total de 2 à 6 jours avant le départ
-100% la veille du départ </p>
<br><br><br><br><br><br>
</div>
{% endblock %}
