{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
           <section id="hautcontact">
<div class="saut"></div>
<div class="precontact">
<p style="    font-size: 100px;"> Edit Client id: {{ client.id }} </p>
</div>
</section>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_client_index') }}">back to list</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
